#countries {
    background-color: #F55D8C;
    color: white;
}

#countries>main {
    background-color: #F55D8C;
}

.countryInfo {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.countrySpecific {
    margin-bottom: 2%;

}

.bezoekers {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.vlag {
    width: 4%;
    height: 4%;
}

h3 {
    color: black;
    font-size: 16px;
}

h5 {
    color: white;
    font-size: 24px;
}

.landenAantal {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.cfooter {
    width: 100%;
    padding-bottom: 3%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landInfo {
    display: flex;
    flex-direction: row;
}

.landNaam {
    font-size: 20px;
    margin-left: 1%;
}

.cstijg {
    margin-left: 1%;
    padding: .4% .9% .4% .9%;
    font-size: 17px;
    border: solid #4DDBB0;
    background-color: #4DDBB0;
    border-radius: 2.5ch;
    color: black;
    font-weight: 800;
}

.cdaal {
    margin-left: 1%;
    padding: .4% .9% .4% .9%;
    font-size: 17px;
    border: solid #E1371A;
    background-color: #E1371A;
    border-radius: 2.5ch;
    color: black;
    font-weight: 800;
}

.mostCountryViews {
    position: absolute;
    left: -5%;
    padding: .2% .8% .2% .8%;
    color: black;
    background-color: white;
    margin-top: 2%;
    margin-right: 8px;
    border-radius: .5ch;
    font-weight: bold;
    font-size: 20px;
}

#myearth {
    width: 53%;
    position: absolute;
    right: 10%;
    bottom: -35%;
}