#wrapped{
  background-color: #F4447A;
  color: var(#FFFFFF);
}

.mvfooter {
  width: 100%;
  margin-top: 2%;
  padding-bottom: 4%;
  margin-bottom: 1%;
  padding-top: 160px;
  display: flex;
  background-color: var(--page-color-footer);
  flex-direction: row;
  justify-content: space-between;
}